.navbar{
    width: 100%;
    display:flex;
    justify-content: end;
}
.navbar-container{
    top: 0;
    left: 0;
    height: 64px;

}
.navbar-searchIcon{
    margin-right: 25%;
    font-size:1.4em;
}